apiVersion: v1
kind: Namespace
metadata:
  name: ostad

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ass8-deployment
  namespace: ostad
spec:
  replicas: 3
  selector:
    matchLabels:
      app: ass8
  template:
    metadata:
      labels:
        app: ass8
    spec:
      containers:
        - name: ass8-container
          image: nginx:latest
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: NODE_ENV
              value: "production"
